<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link  href="styles/main.css" rel="stylesheet"/>
</head>
<body>

    <header class="py-0 mb-0 border-bottom bggreen">
        <div class="container d-flex flex-wrap justify-content-center ">
          <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-2  txtfam">The Weather App</span>
          </a>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <i class = "text-white fs-4"> Get the weather data of any place you want </i>
          </form>
        </div>
      </header>


      <div class="bggreen2 py-0">

      
    
    
        
       <% if  (locals.result) {%>

        <div class="container">
          <div class="align-items-center justify-content-center">

            <div class="px-4 py-2 my-0 text-center ">
              <h3 class="display-5 fw-bold text-body-emphasis txtfam3 mt=2">The weather in  <%= result.data[0].city_name %> is as follows:</h3>
              <img src = " ./icons/<%= result.data[0].weather.icon %>.png" />


              <div class="col-lg-6 mx-auto mb-4">
                <div class="bd-example m-0 border-0">
                  <div class="card text-center">
                    <div class="card-header bggreen text-white">
                      Weather For The Date <%= result.data[0].datetime %>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Weather Data</h5>
                      <p class="card-text"><li>Wind Speed:  <%=  result.data[0].wind_spd %></li>
                        <li> Wind Direction:  <%= result.data[0].wind_cdir_full %></li>
                        <li>Solar Radiation: <%= result.data[0].solar_rad %></li>
                      </p>
                    </div>
                    <div class="card-footer  bggreen text-white">
                      Last Updated On <%=  result.data[0].ob_time %>
                    </div>
                  </div>
                  </div>               
              </div>
            </div>

      
        
        
        
        


          </div>
        
  
  
        <div class="container">
  
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center ">
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3 bggreen">
                    <h4 class="my-0 fw-normal text-white ">The Temperature In <%=result.data[0].city_name %> is </h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title"> <%= result.data[0].app_temp %> degree celcius </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>With a high of <%= result.data[0].app_temp %></li>
                      <li>And a low of <%= result.data[0].dewpt %></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3 bggreen">
                    <h4 class="my-0 fw-normal text-white">Air Quality Index </h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title"><%= result.data[0].aqi %></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <% if(result.data[0].aqi > 100) { %>
                        <li>The quality of air isn't that good </li>
                      <li>Use a mask while travelling outside</li>
                      <li></li>
                      <li></li>



                        <% }  else {%>
                          <li>The quality of air is very good</li>
                      <li>You can enjoy your day freely</li>
                      <li></li>
                      <li></li>



                          <% } %>
                      
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm ">
                  <div class="card-header py-3  border-primary bggreen">
                    <h4 class="my-0 fw-normal text-white">Sunrise And Sunset </h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">At</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>Sumrise <%= result.data[0].sunrise %></li>
                      <li>Sunset <%=result.data[0].sunset %></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
      
  
        </div>


        </div>
    
    
      
    
        <% }else{ %>


            <div class="px-4 py-5 my-0 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis txtfam">Enter The Name Of The City You Want To Know The Weather Of </h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4 txtfam3 fs-4">We provide weather data such as temperature, aqi, wind direction etc.</p>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <form action="/getD" method="post">
    
                        
                            <input placeholder="Enter the name of the city " class=" sz rounded" id="usrin" type = "text" name="inp" value = ""/>
    
    
                        
                
                        <button class="btn bggreen my-2 text-white mb-2" type="submit" >Check weather</button>
                
                
                    </form>
                
                  </div>
                </div>
              </div>
            <div class="container text-center"> 
                <h6 class="txtfam3"> <i> 
                    "Embrace the weather, for every day brings a new forecast of possibilities, and within the elements, we find the beauty of nature's ever-changing dance."</i></h6>
            <img src = "./icons/a02d.png">
            <span>         <img src = "./icons/t05n.png">
                <img src = "./icons/t04d.png">
    
            </span>


            <%} %>
    
    
          </div>
         

      </div>

      <footer class="py-4 my-2  mb-0 bggreen ">
        <ul class="nav justify-content-center  pb-4 my-2 mt-0">
          <p> <i class="text-white"> The weather app uses an api that is refreshed every few hours so the data may not always be accurate </i></p>
        </ul>
        <p class="text-center  text-white">© 2024 WeatherAPI, Inc</p>
      </footer>
      
    
</body>
</html>